#Main{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 5vh;
    padding: 0px 20px 0px 20px;

    background-color: #2A2A2A;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.5;
}

a:hover{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}

.NGLogoW{
    width: 30%;
}

.ButtonsW{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}