.MainRecentCalc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.RecentCalcW{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin-top: 50px;
    padding-bottom: 15px;
    padding-top: 20px;
    border-radius: 8px;
    border: 2px solid #E2E2E2;
    background-color: 	#eeeeee;
}

.RecentCalcW > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.RecentCalcW > div > div > p{
    margin: 10px;
}

.RecentCalcW > div > div > ul{
    margin: 10px;
}

.man{
    font-size: 25px;
    font-weight: 500;
    color: #2986cc;
}

.woman {
    font-size: 25px;
    font-weight: 500;
    color: #f28cd9;
}

.CalcSelect{
    text-align: center;
    width: 400px;
    height: 35px;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 18px;
}

.CalcHeading{
    font-size: 35px;
    margin: 5px 0px 25px 0px;
}